body {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    color: white;
    font-size: 100%;
    background-color: rgb(184, 86, 6);
    width: 200px;
    margin: 0 auto;
    border: 8px solid rgb(239, 239, 241);
    padding: 1em;
}
h3 {
	font-size: 140%;
	margin-top: .5em;
}
input{
    display: block;
}